terraform {
  required_providers {
    googlesheets = {
      source = "winebarrel/googlesheets"
    }
  }
}

provider "googlesheets" {
  credentials_json = file("credentials.json")
}

data "googlesheets_sheet" "my_sheet" {
  sheet_id = "..."
  range    = "sheet1!A2:B2"
}

output "values" {
  value = jsondecode(data.googlesheets_sheet.my_sheet.json)
}
