terraform {
  required_providers {
    googlesheets = {
      source = "winebarrel/googlesheets"
    }
  }
}

provider "googlesheets" {
  credentials_json = file("credentials.json")
  # credentials_env = "CREDS_ENV_NAME"
}

data "googlesheets_sheet" "my_sheet" {
  sheet_id = "..."
  range    = "sheet1!A1:B2"
}

output "values" {
  value = jsondecode(data.googlesheets_sheet.my_sheet.json)
}

data "googlesheets_sensitive_sheet" "my_sheet" {
  sheet_id = "..."
  range    = "sheet1!A1:B2"
}

output "sensitive_values" {
  value     = jsondecode(data.googlesheets_sensitive_sheet.my_sheet.json)
  sensitive = true
}

# ephemeral "googlesheets_sheet" "my_sheet" {
#   sheet_id = "..."
#   range    = "sheet1!A1:B2"
# }
